

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Salary</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        <% for( i in message) {%>
            <tr>
                <td><%- message[i].id%></td>
                <td><%- message[i].firstname%></td>
                <td><%- message[i].lastname%></td>
                <td><%- message[i].salary%></td>
                <td><%- message[i].role%></td>
            </tr>
        <%}%>
    </tbody>
</table>
